* {
    box-sizing:content-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #04305d;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    overflow: hidden;
}

#navbar__logo {
    background-color: #18697e;
    background-image: linear-gradient(to top, #16a97d 0%, #cbcfd0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colot: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #03114e;
    color: #fff;
}

.button:hover {
    background: #01020c;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #16a97d;
    transition: all 0.3s ease;
}

.navbar__toggle {
    display: none; /* hide it on desktop by default */
  }
  
.navbar__toggle.is-active .bar {
    background-color: #fff;
  }
  
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }

@media screen and (max-width: 960px) {
    
    .navbar__container {
        display: flex;
        justify-content: flex-start;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh; /*scroll bar*/
        z-index: -1;
        background: #131313;
        flex-direction: column;
        align-items: center;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 700%;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        cursor: pointer;
        z-index: 1000;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Hero*/
.main {
    display:grid;
    grid-template-columns: 1fr; /* Change to a single column */
    flex: 1;
    height: 100vh;
    background-color: #c4c6b7;
}

.main__container {
    display:block;
   
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 10vh;
}

.main__content h1 {
    font-size: 3rem;
    background-color: #c4c6b7;
    background-image: linear-gradient(to top, #18697e 0%, #18697e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 0 25px;
    text-align: center;
    padding-top: 30px;
}
/*
.main__content img.about-img {
    width: 275px;  /* Makes the image responsive 
    height: 275px;  /* Ensures the image retains its aspect ratio 
    display: block;  /* Removes any space below the image 
    margin: 20px auto;  /* Centers the image horizontally and adds spacing 
}*/


.main__content h2 {
    font-size: 2rem;
    background-color: #c4c6b7;
    background-image: linear-gradient(to top, #18697e 0%, #18697e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 0 15px;
    text-align: center;
}

.main__content p{
    font-size: 0.9rem;
    background-color: #c4c6b7;
    background-size: 100%;
    padding: 0px 25%;
    text-align: center;
    padding-top: 30px;
}

/*Mobile*/

@media screen and ( max-width: 768px) {
    .main{
        grid-template-columns: 1fr;
    }
    .main__container {
        display: flow-root;
        grid-template-columns: none;
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
        height: 100%;
        padding: 0;
    }

    .main__content {
        margin-bottom: 4rem;
        
    }
    /*
    .main__content img.about-img {
        width: 100%;  /* Makes the image responsive 
        max-width: 250px;  /* Optional: Limits the image's maximum size 
        height: auto;  /* Ensures the image retains its aspect ratio 
        display: block;  /* Removes any space below the image 
        margin: 20px auto;  /* Centers the image horizontally and adds spacing 
    }*/

    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
        padding-top: 0;
    }

    .main__content h2{
        font-size: 1.5rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 0.9rem;
        padding-top: 0;
        padding: 0px 25px;
    }
    

}

@media screen and (max-width: 450px){
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
        overflow-x:hidden !important;
    }

    .main__content h2{
        font-size: 1.5rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 0.9rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Footer 
.footer__container {
    background-color: #04305d;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:static;
    top: 0;
    z-index: 999;
}

.footer__link--items h2 {
    font-size: 1.5rem;
    text-align: center;
    background-color: #c4c6b7;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 0 15px;
    position: static;
}

.footer__link--items a {
    color: #fff;
}*/